div {
    height:100px;
    width:100px;
    display: inline-block;
	margin: 10px; 
	opacity: 0.4;	
	text-align: center; 
	font-family: Ubuntu;
}

body {
    min-width:500px;
}

@font-face {
  font-family: Ubuntu;
  src: url('Ubuntu-M.ttf');
}

h2{
	text-align: center; 
	font-family: Ubuntu;
}

#red {
    background-color:#FF0000;
	
}

#blue {
    background-color:#0000FF;
	 
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}