div {
    height:100px;
    width:100px;
    display: inline-block;
	margin: 10px; 
	opacity: 0.4;	
	text-align: center; 
}

body {
    min-width:500px;
}

h2
{
	text-align: center; 
	font-family: Veranda;

}

#red {
    background-color:#FF0000;
	
}

#blue {
    background-color:#0000FF;
	 
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}